@font-face {
	font-family: 'Press Start 2P';
	src: url('./fonts/Press_Start_2P/PressStart2P-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'Ysabeau Office';
	src: url('./fonts/Ysabeau_Office/static/YsabeauOffice-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'Ysabeau Office';
	src: url('./fonts/Ysabeau_Office/static/YsabeauOffice-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: block;
}

* {
	padding: 0;
	margin: 0;

	box-sizing: border-box;
}

html {
	line-height: 1.25;
}

body {
	background-color: rgb(255, 255, 255);
}

article {
	/* margin: 0 auto 2em auto; */
	display: block;
	min-height: 100vh;
	outline-width: 0;
	background-color: rgb(255, 255, 255);
	margin: 0;
	padding-left: 0.5cm;
	padding-top: 2cm;
	padding-right: 0.5cm;
	padding-bottom: 2cm;
	/* rgba(95, 0, 0, 0.5); */
}

@media only screen and (min-width: 1190px) {
	article {
		margin: 1cm auto 1cm auto;
		padding-left: 2cm;
		padding-top: 2cm;
		padding-right: 2cm;
		padding-bottom: 2cm;
		width: 30cm;
	}

	/*
	img,
	article,
	pre,
	svg {
		outline-width: 4pt;
	}
	*/

	/*
	body {
		background-color: #a8a8a8;
	}
	*/
}

h1,
h2,
h3,
h4,
h5,
.post {
	font-family: 'Press Start 2P', cursive;
	text-decoration: underline;
	text-decoration-style: double;
	text-decoration-thickness: 0.1em;
	line-height: 2;
}

h1 {
	font-size: 24pt;
	text-align: center;
}

h2 {
	font-size: 20pt;
}

h3 {
	font-size: 20pt;
}

h4 {
	font-size: 16pt;
}

h5 {
	font-size: 12pt;
}

div,
.mid {
	width: 100%;
	margin-top: 2em;
}

.post {
	font-size: 14pt;
	line-height: 2;
	padding-left: 2em;
}

img,
article,
pre,
svg {
	outline-style: double;
	outline-color: black;
	/* outline-width: thick; */
}

svg {
	background-color: rgb(240, 241, 242);
}


img {
	width: 100%;
	/* or max-width: 100%; */
	height: auto;

	outline-width: 6pt;
	outline-color: black;
}

a,
h1,
h2,
h3,
h4,
h5 {
	color: black;
}


a:hover {
	color: rgb(223, 176, 78);
	/* color: rgb(129, 103, 45); */
	text-decoration-color: rgb(90, 51, 34);
}

p,
ol li::marker {
	font-family: "Ysabeau Office", sans-serif;
	font-size: 20pt;
}

li {
	margin-left: 4em;
}

figcaption {
	font-family: "Ysabeau Office", sans-serif;
	font-size: 16pt;
	color: #808080;
	/* text-align: justify; */
	font-style: italic;
	text-indent: 2em;
}

p,
pre,
h3,
h4,
h5,
li {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

#title {
	margin-top: 1.5em;
	margin-bottom: 0;
}

#title+h4,
h4+h5 {
	margin-top: 0em;
	margin-bottom: 0;
}

a.glyphicon>h3:before,
a.glyphicon>h3:after {
	opacity: 0;
	position: absolute;
	transform: translateX(-1.15ch);
	text-decoration: none;
}

a.glyphicon>h3:after {
	transform: translateX(0.15ch);
}

a.glyphicon>h3:before,
a.glyphicon>h3:after {
	content: "*";
	font-style: normal;
	font-size: 21pt;
	text-decoration: none;
}

a.glyphicon:hover>h3:before,
a.glyphicon:hover>h3:after {
	opacity: 1;
}

svg.header {
	/* padding-top: 1em; */
	margin-top: 1em;
	margin-bottom: 1em;
}

a+p {
	margin-top: 0;
}

pre {
	background-color: rgb(240, 241, 242);
	padding: 0.5em;
	overflow-x: auto;
}

code {
	background-color: rgb(240, 241, 242);
}

pre>code {
	/* margin: 0 0 0 0 !important;
	padding: 0 0 0 0 !important; */
	/* background-color: red; */
	border-radius: 0;
}

pre>code,
code {
	font-family: "JetBrains Mono", monospace;
	font-size: 14pt;
}

p code,
figcaption code {
	border-radius: 6px;
	font-size: 80%;
}

.code-keyword {
	font-weight: bold;
}

.code-num {
	color: #008080;
}

.code-str {
	color: #d14;
}

.code-type {
	color: #458;
	font-weight: bold;
}

.code-comment,
.code-comment a:not(:hover) {
	color: #777;
	font-style: italic;
}

.code-builtin {
	color: #005C7A
		/* color: #36005a; */
		/* font-weight: bold; */
}

.code-instruction {
	color: #0000cf;
}

.code-register {
	color: #6179b6;
}

.code-label {
	color: #005757;
}

.code-fn {
	color: #900;
}

blockquote {
	margin: 0;
}

blockquote p {
	padding-left: 1in;
	padding-right: 1in;

	background: #eee;
	border-radius: 5px;
}

blockquote p::before {
	content: '\201C';
}

blockquote p::after {
	content: '\201D';
}

text {
	font-family: "JetBrains Mono", monospace;
	font-size: 11pt;
}

text.nums {
	letter-spacing: 3.75pt;
}

tspan._1 {
	fill: #d14;
}

figure#intro-picture text,
figure#prefix-xor-recursive-visualization text,
svg#prefix-xor-svg text {
	font-size: 16pt;
}

text.num2,
text.xor {
	font-family: "JetBrains Mono", monospace;
	font-size: 9pt;
}

text.xor {
	font-size: 8pt;
}

@font-face {
	font-family: 'JetBrains Mono';
	src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Bold-Italic.woff2') format('woff2'),
		url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Bold-Italic.woff') format('woff');
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'JetBrains Mono';
	src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Bold.woff2') format('woff2'),
		url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'JetBrains Mono';
	src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-ExtraBold-Italic.woff2') format('woff2'),
		url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-ExtraBold-Italic.woff') format('woff');
	font-weight: 800;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'JetBrains Mono';
	src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-ExtraBold.woff2') format('woff2'),
		url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-ExtraBold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'JetBrains Mono';
	src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Italic.woff2') format('woff2'),
		url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Italic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'JetBrains Mono';
	src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Medium-Italic.woff2') format('woff2'),
		url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Medium-Italic.woff') format('woff');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'JetBrains Mono';
	src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Medium.woff2') format('woff2'),
		url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'JetBrains Mono';
	src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2') format('woff2'),
		url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@media only screen and (max-width: 1189px) {

	p,
	ol li::marker {
		font-size: calc(2 * 20pt);
	}

	a.glyphicon:hover>h3:before,
	a.glyphicon:hover>h3:after {
		font-size: calc(2 * 21pt);
	}

	h1 {
		font-size: calc(2 * 24pt);
	}

	h2 {
		font-size: calc(2 * 20pt);
	}

	h3 {
		font-size: calc(2 * 20pt);
	}

	h4 {
		font-size: calc(2 * 16pt);
	}

	h5 {
		font-size: calc(2 * 12pt);
	}

	p {
		font-size: calc(2 * 20pt);
	}

	pre>code,
	code {
		font-size: calc(2 * 14pt);
	}

	a.post {
		font-size: calc(1.5 * 14pt);
	}

	figcaption {
		font-size: calc(2 * 16pt);
	}

	article {
		padding-bottom: 0cm;
		padding-top: 1cm;
	}
}
